.app {
	text-align: center;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.page h3 {
	font-size: 2rem;
}

.page .content {
	color: #673ab7;
	font-weight: 900;
}
